server  {
		listen  80;
		allow  all;
		proxy_redirect  /mopidy/ws ws://localhost:6680/mopidy/ws;
		proxy_redirect  /iris/ws ws://localhost:6680/iris/ws;
		proxy_redirect  / http://localhost:6680/;

		location  /mopidy/ws {
			proxy_pass  http://localhost:6680/mopidy/ws;
			proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
		}

		location  /iris/ws {
			proxy_pass  http://localhost:6680/iris/ws;
			proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
		}

		location  / {
			proxy_pass  http://localhost:6680/;
		}

		if  ( $uri ~ "^/$" ) {
			rewrite  "(.*)" /iris/ permanent;
		}
	}